
:root {
    /*Colores*/
    /* Primarios */
    --very-dark-blue-main-background: hsl(233, 47%, 7%);
    --dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
    --soft-violet-accent: hsl(277, 64%, 61%);

    /* Neutros */
    --white-main-heading-stats: hsl(0, 0%, 100%);
    --slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    background: var(--very-dark-blue-main-background);
    display: flex;
    align-items: center;
    font-size: 15px;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
}

.row {
    background-color: var(--dark-desaturated-blue-card-background);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 12px;
    overflow: hidden;
    margin: 2rem;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.image-container {
    position: relative;
}

.image-container::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: var(--soft-violet-accent);
    opacity: 0.6;
}


.info-container {
    padding: 13%;
}


.title {
    color: var(--white-main-heading-stats);
    font-weight: 700;
    padding-bottom: 22px;
}


.title span {
    color: var(--soft-violet-accent);
}


.subtitle {
    color: var(--slightly-transparent-white-main-paragraph);
    line-height: 1.8;
}


.stats-container {
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding-top: 60px;
}


.stats-container p.num {
    color: var(--white-main-heading-stats);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 7px;
}


.stats-container p {
    color: var(--slightly-transparent-white-stat-headings);

}

@media only screen and (max-width: 768px) and 
(min-width: 426px) {
    body {
        font-size: 12px;
    }

    .info-container {
        padding: 12%;
    }

    .title {
        font-size: 22px;
    }

    .stats-container {
        padding-top: 30px;
    }

    .stats-container p.num {
        font-size: 17px;
    }
}


@media only screen and (max-width: 425px) {
    body {
        text-align: center;
    }

    .row {
        grid-template-columns: 1fr;
    }

    .image-container {
        order: -1;
    }

    .info-container {
        padding: 12% 8%;
    }

    .title {
        font-size: 23px;
        line-height: 1.4;
    }

    .stats-container {
        flex-direction: column;
        padding-top: 30px;
    }

    .stats-container div {
        margin-top: 20px;
    }
}
